* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Vollkorn', serif;
  font-weight: normal;
  line-height: 1.7;
  color: #777;
  padding: 2rem;
}

.headerPage {
  position: relative;
  height: 94vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(3, 108, 255, 0.6),
      rgba(196, 131, 0, 0.3)
    ),
    url('./images/oldTown-min.png');
  background-size: cover;
  background-position: center; /*top...*/
  background-attachment: fixed;
  min-height: 600px;
}

.logoBox {
  position: absolute;
  left: 6.5vh;
  top: 6.5vh;
  animation: moveUp;
  animation-duration: 3s;
}

.logo {
  height: 6.5rem;
  width: 6.5rem;
}

.headingText {
  position: absolute;
  left: 50%;
  top: 33%;
  color: white;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;

  transform-style: preserve-3d;

}

.primaryText {
  font-size: 3.9rem;
  display: block;
  letter-spacing: 1.5rem;
  text-align: center;

  animation: moveFromRight;
  animation-duration: 3s;
}

.secondaryText {
  font-size: 0.55em;
  display: block;
  letter-spacing: 1.6rem;
  text-align: center;

  animation: moveFromLeft;
  animation-duration: 3s;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(8rem) rotate(-120deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes moveUpCenter {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(8rem) rotate(-120deg);
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px) rotate(0deg);
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.headingButton:link,
.headingButton:visited {
  font-family: 'Noto Serif', serif;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 60%;
  width: 200px;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(255, 255, 255);
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  text-transform: lowercase;
  font-size: 12px;
  letter-spacing: 0.5rem;
  display: inline-block;
  transition: 0.2s;

  animation: appear;
  animation-duration: 3s;
}

.headingButton:hover {
  transform: translate(-50%, -52%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-size: 13px;
}

.headingButton:active {
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.examplesPage {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.portfolioWrapper {
  margin: 2rem;
  display: grid;
  padding-bottom: 2rem;
}

.youtubePlayer {
  width: 95%;
  height: 55vh;
  margin: auto;
  padding-top: 2rem;
}

.pricePage {
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.plansWrapper {
  display: block;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 3rem;

  background-image: linear-gradient(
      to right bottom,
      rgba(241, 235, 200, 0.075),
      rgba(204, 145, 26, 0.123)
    ),
    url('./texture.png');
  text-align: center;
  border-radius: 5rem;
}

.plan {
  display: inline-block;
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
  margin: 2rem;
  padding: 1rem;
  margin-left: 3%;
  margin-right: 3%;
  background-color: rgb(248, 248, 248);
  color: black;
  height: 35rem;
  width: 22rem;
  border-radius: 6px;
  border: 1px solid rgb(211, 211, 211);
}

.premiumPlan {
  bottom: 25px;
  border: 1px solid rgb(211, 211, 211);
}

.pageText {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 12vh;
  padding-bottom: 8vh;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}

.contactsPage {
  padding-top: 10vh;
  position: relative;
  height: 98vh;
}

.planTitle {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.plansTitleSeparation {
  margin-left: 9rem;
  margin-right: 9rem;
  margin-bottom: 2rem;
}

.planOption {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 2px;
}

.priceTag {
  width: 20rem;
  color: black;
  font-size: 3rem;
  position: absolute;
  bottom: 10px;
}

.basePrice {
  vertical-align: top;
}

.currencySign {
  font-family: 'Noto Serif', serif;
  position: relative;
  left: 4px;
  top: 9px;
  font-size: 1rem;
  vertical-align: top;
}

.timeUnit {
  position: relative;
  letter-spacing: 1px;
  right: 3px;
  font-size: 1rem;
  font-weight: 900;
}

.additionalPrice {
  font-family: 'Noto Serif', serif;
  position: relative;
  font-size: 1.5rem;
  bottom: 3px;
  right: 5px;
}

.additionalPriceCurrencySign {
  font-family: 'Noto Serif', serif;
  position: relative;
  bottom: 7px;
  left: 1px;
  font-size: 0.7rem;
}

.contactsInfo {
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  letter-spacing: 6px;
  height: 80px;
  width: 300px;
  font-size: 1.2rem;
  left: 50%;
  top: 45%;
  transform: translateX(-50%);
  display: inline-block;
  color: rgb(0, 0, 0);
  line-height: 100px;
}

.socialLinks {
  text-align: center;
}
.socialLink {
  text-decoration: none;
}

.socialLinkImage {
  height: 20px;
  width: 20px;
  margin-left: 4%;
  margin-right: 4%;
}

@media only screen and (max-width: 900px) {
  .plan {
    display: block;
    margin: auto;
    margin-bottom: 10rem;
  }
  .premiumPlan {
    bottom: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .primaryText {
    font-size: 2.5rem;
  }

  .secondaryText {
    font-size: 0.55em;
    letter-spacing: 11px;
  }

  .logoBox {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 6.5vh;
    animation: moveUpCenter;
    animation-duration: 3s;
  }

  .logo {
    height: 4.5rem;
    width: 4.5rem;
  }
}
